body {
    margin: 0;
}
  
section {
  font-family: sans-serif;
  min-height: 100vh;  
}

#about{
    position: relative;
    background-color: #994D1C;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#AboutText{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-size: 25px;
}